* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#contenedor {
    background-color: rgb(15, 196, 142);
    width: 50%;
    margin-top: 15px;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

#one {
    justify-content: center;
    align-items: left;
}

#seccionborde {
    justify-content: right;
    align-items: right;
}

#btnCalcular {
    height: 1.5em;
    width: 20%;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    cursor: pointer;
}

#btnLimpiar {
    height: 1.5em;
    width: 20%;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    cursor: pointer;
}